<hms-shell-chrome>
  <ng-container shellNav>
    @if (auth.hasPermission('billing.manage')) {
    <a
      routerLink="/billing/invoices"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-receipt text-base"></i>
      Invoices
    </a>
    }
    @if (auth.hasPermission('patients.read') || auth.hasPermission('appointment.read') ||
    auth.hasPermission('triage.read')) {
    <div class="nav-section-label">
      Clinical
    </div>
    @if (auth.hasPermission('patients.read')) {
    <a
      routerLink="/clinical/patients"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-user text-base"></i>
      Patients (PMI)
    </a>
    } @if (auth.hasPermission('appointment.read')) {
    <a
      routerLink="/clinical/appointments"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-calendar text-base"></i>
      Appointments
    </a>
    } @if (auth.hasPermission('triage.read')) {
    <a
      routerLink="/clinical/triage"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-heart text-base"></i>
      Triage / ER
    </a>
    }
    }
    @if (auth.hasPermission('identity.accounts.manage') ||
    auth.hasPermission('master-data.manage') || auth.hasPermission('reporting.read')) {
    <div class="nav-section-label">
      Administration
    </div>
    @if (auth.hasPermission('identity.accounts.manage')) {
    <a
      routerLink="/admin/users"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-users text-base"></i>
      Staff Accounts
    </a>
    } @if (auth.hasPermission('master-data.manage')) {
    <a
      routerLink="/admin/master-data"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-database text-base"></i>
      Master Data
    </a>
    <a
      routerLink="/admin/billing-settings"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-cog text-base"></i>
      Billing Settings
    </a>
    } @if (auth.hasPermission('reporting.read')) {
    <a
      routerLink="/admin/audit"
      routerLinkActive="nav-item-active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item"
    >
      <i class="pi pi-history text-base"></i>
      Audit Trail
    </a>
    } }
  </ng-container>
</hms-shell-chrome>
